<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico"/>

    {{#if title}}
      <title>{{title}}</title>
    {{else}}
      <title>Title</title>
    {{/if}}

    <!-- build:css css/app.css -->
    <link href="css/style.css" rel="stylesheet">
    <!-- endbuild -->
</head>

<body data-spy="scroll" data-target=".spyed" id="top">
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>